.beasier1Icon {
  /* position: absolute; */
  /* top: 343px;
  left: 860px; */
  width: 200px;
  height: 234px;
  /* object-fit: cover; */
}
.desktop1 {
  display: flex;
  background-color: #03045e;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* width: 100%; */
  /* position: relative; */
  /* height: 920px; */
  /* overflow: hidden; */
}
  